<%= @book.errors.full_messages.to_sentence-%>
<h1>Create a new book</h1>
<%= form_for @book, url: { action: action } do |f| %>
  Name: <%= f.text_field :name %>
  <%= f.fields_for @book.author  do |author| -%>
    Author:<%= author.text_field :name %>
  <% end -%>
  Year: <%= f.date_field :year %>
  ISBN: <%= f.number_field :isbn %>

  <%= submit_tag action.capitalize %>
<% end %>